@import "tailwindcss";

:root {
  --background: #fcfcff;
  --foreground: #263238;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --font-patua: var(--font-patua-one), serif;
  --font-luckiest: var(--font-luckiest-guy), cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
